@font-face {
  font-family: DiscoverRegular;
  src: url(assets/fonts/discoverSans/discoverSans-Rg.otf) format("opentype");
}

@font-face {
  font-family: DiscoverLight;
  src: url(assets/fonts/discoverSans/discoverSans-Lg.otf) format("opentype");
}

@font-face {
  font-family: LineRegular;
  src: url(assets/fonts//LineIcons/LineIcons.ttf);
}

body {
  margin: 0px;
}

::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Estilize o controle deslizante da barra de rolagem */
  ::-webkit-scrollbar-thumb {
    background-color: #3899c0;
    border-radius: 10px;
  }
  
  /* Estilize o controle deslizante da barra de rolagem quando estiver passando o mouse */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  
  /* Estilize a pista da barra de rolagem */
  ::-webkit-scrollbar-track {
    background-color: #252525;
  }