<div class="page">
  <div class="topBar"></div>
  <div class="banner">
    <div class="inscription">
      <button (click)="subscribe()">INSCREVER-SE</button>
      <div class="about" style="margin-top: 1.5%">
        <span>O Hackathon inicia-se no dia: 27/10/2023 às 19:00 horas</span>
      </div>
      <div class="about">
        <span>Ultimo dia para inscrição: XX</span>
      </div>
    </div>
  </div>
  <div class="aboutHack">
    <div class="divFigure">
      <div class="figure"></div>
    </div>
    <div class="aboutTheHack">
      <div class="title">
        <h3>Sobre o Hackathon</h3>
      </div>
      <div class="body">
        <div class="text">
          <span
            >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.</span
          >
        </div>
        <div class="line">
          <fa-icon [icon]="faCheckCircle"></fa-icon>
          <span>Data: 27/10/2023 à 29/10/2023</span>
        </div>
        <div class="line">
          <fa-icon [icon]="faCheckCircle"></fa-icon>
          <span>Tamanho do time: 4 a 6 pessoas</span>
        </div>
        <div class="line">
          <fa-icon [icon]="faCheckCircle"></fa-icon>
          <span>Inscrição gratuita via Sympla</span>
        </div>
      </div>
    </div>
  </div>
  <div class="moreAbout">
    <div class="title">
      <span>Agenda do evento</span>
    </div>
    <div class="lineItens">
      <div (click)="hideOrShowPin('27')" class="item">
        <div class="body">
          <div class="line">
            <div id="27" class="point"></div>
            <span>27/10</span>
          </div>
        </div>
      </div>
      <div (click)="hideOrShowPin('28')" class="item">
        <div class="body">
          <div class="line">
            <div id="28" class="point"></div>
            <span>28/10</span>
          </div>
        </div>
      </div>
      <div (click)="hideOrShowPin('29')" class="item">
        <div class="body">
          <div class="line">
            <div id="29" class="point"></div>
            <span>29/10</span>
          </div>
        </div>
      </div>
    </div>
    <div class="aboutDate">
      <div class="cardAbout">
        <div class="title"><span>Sexta-Feira (27/10/2023)</span></div>
      </div>
    </div>
  </div>
</div>
