.page {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;

  .topBar {
    width: 100%;
    height: 60px;
    background-color: #04395a;
    display: flex;

    .logo {
      width: 10%;
      height: 100%;
      display: flex;
      align-items: center;
      background-image: url(../assets/img/Logo-Ubyfol-Branco.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      cursor: pointer;
    }

    .sections {
      width: 80%;
      height: 100%;
      background-color: #04395a;
      display: flex;
      align-items: center;
      justify-content: right;

      .section {
        width: 8%;
        height: 100%;
        align-items: center;
        display: flex;
        text-align: center;
        justify-content: center;

        a {
          text-decoration: none;
          color: white;
          font-family: DiscoverRegular;
          transition: 200ms linear;

          &:hover {
            cursor: pointer;
            color: #00ac58;
            transition: 200ms linear;
            transform: scale(1.1);
          }
        }
      }
    }
  }

  .banner {
    width: 100%;
    height: 863px;
    display: flex;
    align-items: end;
    justify-content: end;
    text-align: center;
    background-image: url(../assets/img/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: column;

    .inscription {
      width: 100%;
      height: 22%;

      button {
        font-family: DiscoverRegular;
        font-size: 16px;
        background-color: #0099ff;
        border: none;
        width: 180px;
        height: 46px;
        border-radius: 30px;
        box-shadow: 0 8px 16px rgba(26, 164, 206, 0.75);
        color: white;
        transition: 200ms linear;

        &:hover {
          transform: scale(1.1);
          cursor: pointer;
          transition: 200ms linear;
          background-color: #00ac58;
        }
      }

      .about {
        width: 100%;
        height: 10%;
        margin-bottom: 5px;

        span {
          font-family: DiscoverRegular;
          color: white;
          font-size: 20px;
          font-style: italic;
        }
      }
    }
  }

  .aboutHack {
    width: 100%;
    height: 550px;
    background: rgb(0, 172, 89);
    background: radial-gradient(
      circle,
      rgba(0, 172, 89, 0.711922268907563) 0%,
      rgba(0, 172, 89, 1) 100%
    );
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 160px 160px 160px 160px rgba(172, 203, 212, 100);

    .divFigure {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: right;
      padding-right: 2%;
      padding-left: 15%;
      text-align: center;

      .figure {
        width: 100%;
        height: 100%;
        background-image: url(../assets/img/programmer.png);
        background-size: 70%;
        background-position: center;
        background-repeat: no-repeat;
        transition: 400ms linear;

        &:hover {
          transform: translateY(-20px);
          transition: 400ms linear;
        }
      }
    }

    .aboutTheHack {
      width: 50%;
      padding-left: 2%;
      height: 100%;
      display: flex;
      align-items: left;
      flex-direction: column;
      padding-right: 15%;

      .title {
        width: 100%;
        height: 25%;
        display: flex;
        align-items: left;

        h3 {
          font-family: DiscoverRegular;
          font-size: 50px;
          color: #032d47;
        }
      }

      .body {
        width: 100%;
        height: 60%;
        display: flex;
        align-items: left;
        text-align: left;
        flex-direction: column;

        .text {
          display: flex;
          width: 100%;
          height: 60%;

          span {
            font-family: DiscoverLight;
            font-size: 20px;
            color: white;
            font-weight: bold;
          }
        }

        .line {
          display: flex;
          margin-bottom: 3%;
          width: 100%;
          height: 10%;
          align-items: center;

          fa-icon {
            color: #04395a;
            margin-right: 8px;
            font-size: 20px;
          }

          span {
            font-family: DiscoverLight;
            font-weight: bold;
            color: white;
          }
        }
      }
    }
  }

  .moreAbout {
    width: 100%;
    height: 970px;
    background: rgb(11, 46, 68);
    background: linear-gradient(
      90deg,
      rgba(11, 46, 68, 1) 0%,
      rgba(53, 169, 203, 1) 100%
    );
    display: flex;
    align-items: top;
    justify-content: top;
    text-align: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-image: url(../assets/img/web2.png);
    background-position: -19% 1%;

    .title {
      width: 100%;
      height: 20%;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      margin-bottom: 2%;

      span {
        font-size: 50px;
        font-weight: bold;
        font-family: DiscoverRegular;
        color: #ffffff;
      }
    }

    .lineItens {
      width: 100%;
      height: 15%;
      display: flex;
      align-items: center;
      justify-content: center;

      .item {
        width: 10%;
        height: 100%;
        border-radius: 16px;
        margin-right: 2%;
        margin-left: 2%;
        background-color: #00ac58;
        transition: 200ms linear;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 15px;

        &:hover {
          transition: 200ms linear;
          transform: translateY(-20px);
          cursor: pointer;
        }

        .body {
          position: relative;
          bottom: 7%;
          right: 5%;
          background-color: #fefefe;
          width: 100%;
          height: 100%;
          border-radius: 14px;

          .line {
            border: 2px solid #80b759;
            width: 100%;
            height: 100%;
            border-radius: 16px;
            position: relative;
            bottom: 8%;
            right: 6%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;

            span {
              color: #032d47;
              font-size: 50px;
              font-weight: bold;
              font-family: DiscoverRegular;
            }

            .point {
              position: absolute;
              top: 125%;
              left: 54%;
              width: 16px;
              height: 16px;
              background-color: #80b759;
              border-radius: 50%;
              box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            }
          }
        }
      }
    }

    .aboutDate {
      margin-top: 2%;
      width: 100%;
      height: 50%;
      display: flex;
      align-items: top;
      text-align: center;
      justify-content: center;

      .cardAbout {
        margin-top: 2%;
        background: rgb(0, 172, 89);
        background: radial-gradient(
          circle,
          rgba(0, 172, 89, 0.711922268907563) 0%,
          rgb(41, 127, 153) 100%
        );
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 20px;
        width: 60%;
        height: 94%;
        display: flex;
        flex-direction: column;
        transition: 200ms linear;

        &:hover {
          transform: scale(1.1);
          transition: 200ms linear;
        }

        .titleAboutDate {
          width: 100%;
          height: 15%;
          margin-top: 1%;
          display: flex;
          text-align: center;
          align-items: center;
          justify-content: center;

          span {
            font-size: 28px;
            font-weight: bold;
            font-family: DiscoverRegular;
            color: #032d47;
          }
        }

        .bodyAboutDate {
          width: 100%;
          height: 80%;
          display: flex;
          align-items: center;
          justify-content: top;
          flex-direction: column;

          .local {
            width: 100%;
            height: 10%;

            span {
              font-size: 20px;
              font-weight: bold;
              font-family: DiscoverRegular;
              color: white;
            }
          }

          .lineAboutDate {
            width: 80%;
            height: 16%;
            display: flex;
            text-align: left;
            align-items: center;
            justify-content: center;

            .icon {
              width: 5%;
              height: 100%;
              align-items: center;
              justify-content: center;
              text-align: center;
              display: flex;

              fa-icon {
                color: white;
              }
            }

            .textAboutDate {
              width: 95%;
              height: 100%;
              display: flex;
              text-align: left;
              align-items: center;
              justify-content: left;

              span {
                color: white;
                font-size: 17px;
                font-weight: bold;
                font-family: DiscoverRegular;
              }
            }
          }
        }
      }
    }
  }

  .goals {
    width: 100%;
    height: 300px;
    background: rgb(0, 172, 89);
    background: radial-gradient(
      circle,
      rgba(0, 172, 89, 0.711922268907563) 0%,
      rgba(0, 172, 89, 1) 100%
    );
    display: flex;
    align-items: center;
    justify-content: top;
    text-align: center;
    flex-direction: column;

    .titleGoals {
      width: 100%;
      height: 20%;
      margin-top: 3%;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      margin-bottom: 1%;

      span {
        font-size: 50px;
        font-weight: bold;
        font-family: DiscoverRegular;
        color: #032d47;
      }
    }

    .textGoals {
      width: 70%;
      height: 70%;

      span {
        font-family: DiscoverRegular;
        font-size: 20px;
        color: white;
      }

      .lastText {
        font-style: italic;
        color: #032d47;
      }
    }
  }

  .carrousel {
    width: 100%;
    height: 400px;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      357deg,
      rgba(255, 255, 255, 0.8911939775910365) 14%,
      rgba(172, 203, 212, 1) 100%
    );
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      margin-top: 4%;
      width: 30%;
      height: 20%;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      margin-bottom: 1%;
      background-image: url(../assets/img/Logo-Ubyfol-Original.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-size: 300px;
      background-position: center;
    }

    .text {
      width: 70%;
      height: 200px;
      display: flex;
      text-align: center;

      span {
        font-size: 20px;
        font-weight: bold;
        font-family: DiscoverRegular;
        color: #696969;
      }
    }
  }

  .supporters {
    width: 100%;
    height: 900px;
    background: rgb(0, 172, 89);
    background: radial-gradient(
      circle,
      rgba(0, 172, 89, 0.711922268907563) 0%,
      rgb(41, 127, 153) 100%
    );
    flex-direction: column;
    display: flex;
    background-image: url(../assets/img/Logo-Ubyfol-Forma.png);

    .title {
      width: 100%;
      height: 20%;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      margin-bottom: 1%;

      span {
        font-size: 50px;
        font-weight: bold;
        font-family: DiscoverRegular;
        color: #032d47;
      }
    }

    .divSuporters {
      width: 100%;
      height: 50%;
      align-items: center;
      justify-content: center;
      text-align: center;
      display: flex;
      flex-direction: column;

      .divSuportersItens {
        width: 100%;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        .supporter1 {
          width: 17%;
          height: 70%;
          margin-right: 1%;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          justify-content: center;

          .image {
            width: 100%;
            height: 80%;
            background-color: rgb(255, 255, 255);
            background-image: url(../assets/img/FAZU.png);
            background-repeat: no-repeat;
            border-radius: 10px;
            background-size: contain;
            background-position: center;
            transition: 400ms linear;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
              rgba(0, 0, 0, 0.12) 0px -12px 30px,
              rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
              rgba(0, 0, 0, 0.09) 0px -3px 5px;

            &:hover {
              transform: translateY(-20px);
              transition: 400ms linear;
              cursor: pointer;
            }
          }
        }

        .supporter2 {
          width: 17%;
          height: 70%;
          margin-left: 1%;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          justify-content: center;

          .image {
            width: 100%;
            height: 80%;
            background-color: rgba(236, 236, 236, 0.534);
            background-image: url(../assets/img/parque.png);
            background-repeat: no-repeat;
            border-radius: 10px;
            background-size: contain;
            background-position: center;
            background-size: 280px;
            transition: 400ms linear;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
              rgba(0, 0, 0, 0.12) 0px -12px 30px,
              rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
              rgba(0, 0, 0, 0.09) 0px -3px 5px;

            &:hover {
              transform: translateY(-20px);
              transition: 400ms linear;
              cursor: pointer;
            }
          }
        }
      }

      .foot {
        position: relative;
        bottom: -56%;
        width: 100%;
        height: 15%;
        align-items: center;
        justify-content: center;
        text-align: center;
        display: flex;

        .footItens {
          width: 80%;
          height: 100%;
          border-top: 1px solid rgba(255, 255, 255, 0.411);
          display: flex;
          padding-top: 1%;

          .uby {
            width: 33%;
            height: 100%;

            span {
              color: white;
              font-family: DiscoverRegular;
            }
          }

          .russianCorp {
            width: 33%;
            height: 100%;
            display: flex;
            text-align: right;

            .text {
              width: 50%;
              height: 100%;
              padding-right: 2%;

              span {
                color: white;
                font-family: DiscoverRegular;
              }
            }

            .figure {
              width: 30%;
              height: 100%;
              background-image: url(../assets/img/russianCorp.png);
              background-repeat: no-repeat;
              background-position: top;
              background-size: 20%;
              background-size: contain;
            }
          }

          .socialMedias {
            width: 20%;
            height: 100%;
            margin-left: 10%;
            display: flex;

            .instagram {
              width: 35%;
              height: 43%;
              background-image: url(../assets/img/instagram.png);
              background-repeat: no-repeat;
              background-position: center;
              background-size: contain;
              transition: 200ms linear;

              &:hover {
                cursor: pointer;
                transform: scale(1.1);
                transition: 200ms linear;
              }
            }

            .facebook {
              width: 35%;
              height: 43%;
              background-image: url(../assets/img/facebook.png);
              background-repeat: no-repeat;
              background-position: center;
              background-size: contain;
              transition: 200ms linear;

              &:hover {
                cursor: pointer;
                transform: scale(1.1);
                transition: 200ms linear;
              }
            }

            .youtube {
              width: 35%;
              height: 43%;
              background-image: url(../assets/img/youtube.png);
              background-repeat: no-repeat;
              background-position: center;
              background-size: contain;
              transition: 200ms linear;

              &:hover {
                cursor: pointer;
                transform: scale(1.1);
                transition: 200ms linear;
              }
            }

            .linkedin {
              width: 35%;
              height: 43%;
              background-image: url(../assets/img/linkedin.png);
              background-repeat: no-repeat;
              background-position: center;
              background-size: contain;
              transition: 200ms linear;

              &:hover {
                cursor: pointer;
                transform: scale(1.1);
                transition: 200ms linear;
              }
            }

            .gupy {
              width: 35%;
              height: 43%;
              background-image: url(../assets/img/gupy.png);
              background-repeat: no-repeat;
              background-position: center;
              background-size: contain;
              transition: 200ms linear;

              &:hover {
                cursor: pointer;
                transform: scale(1.1);
                transition: 200ms linear;
              }
            }
          }
        }
      }
    }
  }
}
