<div class="page">
  <div class="topBar"></div>
  <div class="banner">
    <div class="inscription">
      <button (click)="subscribe()">INSCREVER-SE</button>
      <div class="about" style="margin-top: 1%">
        <span>O Hackathon inicia-se no dia: XX</span>
      </div>
      <div class="about">
        <span>Ultimo dia para inscrição: XX</span>
      </div>
    </div>
  </div>
  <div class="aboutHack">
    <div class="divFigure">
      <div class="figure"></div>
    </div>
    <div class="aboutTheHack">
      <div class="title">
        <h3>Sobre o Hackathon</h3>
      </div>
      <div class="body">
        <div class="text">
          <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
        </div>
        <div class="line">
          <fa-icon [icon]="faCheckCircle"></fa-icon> 
          <span>Data: XX/XX/XXXX</span>
        </div>
        <div class="line">
          <fa-icon [icon]="faCheckCircle"></fa-icon> 
          <span>Tamanho do time: XX a XX pessoas</span>
        </div>
        <div class="line">
          <fa-icon [icon]="faCheckCircle"></fa-icon> 
          <span>Registro sem custos - Inscrições via Sympla</span>
        </div>
      </div>
    </div>
  </div>
</div>
