<div class="page" data-aos="fade-up">
  <div class="topBar" >
    <div class="logo" (click)="redirect('https://ubyfol.com/')"></div>
    <div class="sections">
      <div class="section"><a href="#aboutHack" appScrollSuave>Sobre</a></div>
      <div class="section">
        <a href="#moreAbout" appScrollSuave>Cronograma</a>
      </div>
      <div class="section"><a href="#goals" appScrollSuave>Objetivo</a></div>
      <div class="section"><a href="#carrousel" appScrollSuave>Galeria</a></div>
      <div class="section"><a href="#prize" appScrollSuave>Premiação</a></div>
      <div class="section">
        <a href="#supporters" appScrollSuave>Apoiadores</a>
      </div>
    </div>
  </div>
  <div class="banner" >
    <div class="inscription">
      <button (click)="subscribe()">INSCREVER-SE</button>
      <div class="about" style="margin-top: 1.5%">
        <span>O Hackathon será presencial em Uberaba - MG e começará no dia 27 de Outubro, às 19h</span>
      </div>
      <div class="about" style="margin-top: 20px;">
        <span>Vagas limitadas!</span>
      </div>
    </div>
  </div>
  <div id="aboutHack" class="aboutHack" data-aos="fade-right">
    <div class="divFigure">
      <div class="figure"></div>
    </div>
    <div class="aboutTheHack">
      <div class="title">
        <h3>
          <span style="color: #076caf">[</span> Sobre o Hackathon
          <span style="color: #076caf">]</span>
        </h3>
      </div>
      <div class="body">
        <div class="text">
          <span
            >A Ubyfol está buscando solucionar problemas reais por meio de
            técnicas de startups e inovação. Este evento visa criar soluções
            inovadoras para desafios que serão sorteados no primeiro dia para
            desenvolvimento.
          </span>
        </div>
        <div class="line">
          <fa-icon [icon]="faCheckCircle"></fa-icon>
          <span>Data: de 27 de Outubro à 29 de Outubro</span>
        </div>
        <div class="line">
          <fa-icon [icon]="faCheckCircle"></fa-icon>
          <span>Participantes: Serão permitidos 4 a 6 participantes por grupo. É possível inscrever equipes completas</span>
        </div>
        <div class="line">
          <fa-icon [icon]="faCheckCircle"></fa-icon>
          <span>Local: Faculdades Associadas de Uberaba</span>
        </div>
        <div class="line">
          <fa-icon [icon]="faCheckCircle"></fa-icon>
          <span
            >As inscrições são gratuitas e abertas ao público. Teremos vagas limitadas. Todos os inscritos serão avaliados por uma comissão das instituições envolvidas, sendo os selecionados comunicados via e-mail no dia 19 de Outubro</span
          >
        </div>
      </div>
    </div>
  </div>
  <div id="moreAbout" data-aos="fade-left" class="moreAbout">
    <div class="title">
      <span
        ><span style="color: #36bd7c">[</span> Cronograma do evento
        <span style="color: #36bd7c">]</span></span
      >
    </div>
    <div class="lineItens">
      <div (click)="hideOrShowPin('27')" class="item">
        <div class="body">
          <div class="line">
            <div id="27" class="point"></div>
            <span>27/10</span>
          </div>
        </div>
      </div>
      <div (click)="hideOrShowPin('28')" class="item">
        <div class="body">
          <div class="line">
            <div id="28" class="point"></div>
            <span>28/10</span>
          </div>
        </div>
      </div>
      <div (click)="hideOrShowPin('29')" class="item">
        <div class="body">
          <div class="line">
            <div id="29" class="point"></div>
            <span>29/10</span>
          </div>
        </div>
      </div>
    </div>
    <div class="aboutDate">
      <div class="cardAbout">
        <div class="titleAboutDate">
          <span *ngIf="selectedDiv == '27'">Sexta-Feira (27/10/2023)</span
          ><span *ngIf="selectedDiv == '28'">Sábado (28/10/2023)</span
          ><span *ngIf="selectedDiv == '29'">Domingo (29/10/2023)</span>
        </div>
        <div class="bodyAboutDate">
          <div class="local">
            <span *ngIf="selectedDiv == '27'">Local: A definir</span
            ><span *ngIf="selectedDiv == '28'">Local: Fazu</span
            ><span *ngIf="selectedDiv == '29'">Local: Fazu</span>
          </div>
          <div class="lineAboutDate">
            <div class="icon">
              <fa-icon [icon]="faCheckCircle"></fa-icon>
            </div>
            <div class="textAboutDate">
              <span *ngIf="selectedDiv == '27'"
                >19h00 - Abertura do evento com a participação de representantes
                da Ubyfol, Fazu e Parque Tecnológico</span
              >
              <span *ngIf="selectedDiv == '28'"
                >08h00 - Atividades de mentoria (minicurso de Canvas) -
                Professor Fazu – Marcelo Augusto</span
              >
              <span *ngIf="selectedDiv == '29'"
                >08h00 - Atividade de mentoria (minicurso de MVP) - Professor
                Fazu – Matheus Alves</span
              >
            </div>
          </div>
          <div class="lineAboutDate">
            <div class="icon">
              <fa-icon [icon]="faCheckCircle"></fa-icon>
            </div>
            <div class="textAboutDate">
              <span *ngIf="selectedDiv == '27'">19h15 - Palestra Magna</span>
              <span *ngIf="selectedDiv == '28'"
                >10h00 - Criação das soluções pelas equipes</span
              >
              <span *ngIf="selectedDiv == '29'"
                >09h00 - Desenvolvimento das soluções pelas equipes e validação
                do produto</span
              >
            </div>
          </div>
          <div class="lineAboutDate">
            <div class="icon">
              <fa-icon [icon]="faCheckCircle"></fa-icon>
            </div>
            <div class="textAboutDate">
              <span *ngIf="selectedDiv == '27'"
                >20h00 - Apresentação dos Desafios - Temáticas</span
              >
              <span *ngIf="selectedDiv == '28'"
                >13h00 - Atividades de mentoria (minicurso de pitch) -
                Professora Fazu – Danielle Matarim</span
              >
              <span *ngIf="selectedDiv == '29'"
                >10h00 - Pré-apresentação das soluções para banca de
                mentores</span
              >
            </div>
          </div>
          <div class="lineAboutDate">
            <div class="icon">
              <fa-icon [icon]="faCheckCircle"></fa-icon>
            </div>
            <div class="textAboutDate">
              <span *ngIf="selectedDiv == '27'"
                >20h20 - Criação das Equipes</span
              >
              <span *ngIf="selectedDiv == '28'"
                >15h00 - Desenvolvimento das soluções pelas equipes</span
              >
              <span *ngIf="selectedDiv == '29'"
                >11h00 - Desenvolvimento das soluções pelas equipes</span
              >
            </div>
          </div>
          <div class="lineAboutDate">
            <div class="icon">
              <fa-icon [icon]="faCheckCircle"></fa-icon>
            </div>
            <div class="textAboutDate">
              <span *ngIf="selectedDiv == '27'"
                >21h20 - Pré-pitch com soluções das equipes (Dinâmica de
                integração de grupos) - Professor Fazu - Janderson Cardoso</span
              >
              <span *ngIf="selectedDiv == '28'"
                >16h00 - Pré-apresentação das soluções para banca de
                mentores</span
              >
              <span *ngIf="selectedDiv == '29'"
                >14h00 - Evento final: Apresentação para jurados, breve
                palestra, apresentação das soluções e apuração dos
                avaliadores</span
              >
            </div>
          </div>
          <div *ngIf="selectedDiv == '28'" class="lineAboutDate">
            <div class="icon">
              <fa-icon [icon]="faCheckCircle"></fa-icon>
            </div>
            <div class="textAboutDate">
              <span *ngIf="selectedDiv == '28'"
                >18h00 - Palestra com case de sucesso - Grão Direto: Juliana
                Montilha - Líder de Soluções Corporativas</span
              >
            </div>
          </div>
          <div *ngIf="selectedDiv == '28'" class="lineAboutDate">
            <div class="icon">
              <fa-icon [icon]="faCheckCircle"></fa-icon>
            </div>
            <div class="textAboutDate">
              <span *ngIf="selectedDiv == '28'"
                >19h00 - Desenvolvimento das soluções pelas equipes
                (virada)</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="prize"  data-aos="fade-right">
    <div class="title">
      <span style="color: #076caf">[</span> PREMIAÇÃO 
          <span style="color: #076caf">]</span>
      
    </div>
    <div class="subTitle">
      16 mil em premiação para 1° e 2° de cada temática 
    </div>
    <div class="prizes">
      <div class="prize">
        1° lugar: <span class="value">R$: 6.000,00</span>
      </div>
      <div class="prize">
        2° lugar: <span class="value">R$: 2.000,00</span>
      </div>
    </div>
  </div>
  <div id="goals"  data-aos="fade-up-left" class="goals">
    <div class="titleGoals">
      <span
        ><span style="color: #076caf">[</span> Objetivo do Hackathon
        <span style="color: #076caf">]</span></span
      >
    </div>
    <div class="textGoals">
      <span
        >Estamos empenhados na solução de desafios concretos, sobretudo aqueles
        identificados pela Ubyfol no contexto dos setores de inovação e acesso
        ao mercado. Para alcançar esse objetivo, buscamos envolver participantes
        capazes de contribuir de maneira significativa, desenvolvendo soluções
        inovadoras por meio de técnicas amplamente aplicadas no
        universo das startups.</span
      >
    </div>
  </div>
  <div id="carrousel" data-aos="flip-up" class="carrousel">
    <div class="title">
    </div>
    <div class="text">
      <span
        >A Ubyfol é uma multinacional brasileira especialista em nutrição
        vegetal que trabalha no desenvolvimento de produtos especiais,
        fornecendo macro e micronutrientes para recobrimento de grânulos,
        tratamento de sementes, mudas, toletes, e aplicações foliares para todas
        as culturas agrícolas. Fundada em 1985, a empresa atua em todo o
        território nacional, no Paraguai e em Portugal. Eleita a melhor empresa
        de nutrição vegetal do Brasil por diversas instituições independentes, a
        Ubyfol semeia a valorização humana como cultura empresarial e une
        esforços para levar ao agricultor soluções eficientes, apoiadas no
        conhecimento científico e no domínio das tecnologias mais
        recentes.</span
      >
    </div>
  </div>
  <div id="supporters" class="supporters">
    <div class="title">
      <span
        ><span style="color: #04395a">[</span> Apoiadores
        <span style="color: #04395a">]</span></span
      >
    </div>
    <div class="divSuporters" data-aos="zoom-in">
      <div class="divSuportersItens">
        <div class="supporter1">
          <div class="image" (click)="redirect('https://fazu.br/')"></div>
        </div>
        <div class="supporter2">
          <div style="background-color: #04395ad1;"
            class="image"
            (click)="redirect('https://portal.uberaba.mg.gov.br/')"
          ></div>
        </div>
        <div class="supporter3">
          <div style="background-color: #04395a00;"
            class="image"
            (click)="redirect('https://ubyfol.com/')"
          ></div>
        </div>
      </div>
      <div class="foot">
        <div class="footItens">
          <div class="uby">
            <span>©2023 UBYFOL - TODOS OS DIREITOS RESERVADOS</span>
          </div>
          <div class="russianCorp">
            <div class="text">
              <span>Designed and Developed by</span>
            </div>
            <div class="figure"></div>
          </div>
          <div class="socialMedias">
            <div
              (click)="redirect('https://www.instagram.com/Ubyfol/')"
              class="instagram"
            ></div>
            <div
              (click)="redirect('https://www.facebook.com/Ubyfol/')"
              class="facebook"
            ></div>
            <div
              (click)="
                redirect(
                  'https://www.youtube.com/channel/UCHDjBZSRB75LarmF73nEw9g'
                )
              "
              class="youtube"
            ></div>
            <div
              (click)="redirect('https://www.linkedin.com/company/ubyfol/')"
              class="linkedin"
            ></div>
            <div
              (click)="redirect('https://vemprauby.gupy.io/')"
              class="gupy"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
